<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <link rel="stylesheet" href="https://crm.vicitelecom.fr/agc/viciphone_test/css/default.css">
   <script src="https://unpkg.com/htmx.org@1.9.1"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
    
<!--     <script src="https://crm.vicitelecom.fr/agc/viciphone_test/js/vici_phone.js"></script>
    <script src="https://crm.vicitelecom.fr/agc/viciphone_test/js/sip-0.7.8.js"></script>
    <script src="https://crm.vicitelecom.fr/agc/viciphone_test/js/sip.js"></script> -->

</head>
<body class="bg-slate-200 text-white p-6 flex">
<side class="flex h-screen">
    <a 
    href="#"
    id="webphone"
   hx-get="https://crm.vicitelecom.fr/agc/viciphone_test/viciphone.php?phone_login=OTkwMTE=&phone_pass=MG4xcjBub2xlc18xZGZkNQ==&server_ip=MTk1LjE1LjIxMy4xMDc=&callerid=MDAwMDAwMDAwMA==&protocol=U0lQ&codecs=&options=SU5JVElBTF9MT0FELS1ESUFMUEFEX1ktLUFVVE9BTlNXRVJfWS0tV0VCU09DS0VUVVJMd3NzOi8vZmlsczEudmljaXRlbGVjb20uZnI6ODA4OS93cw=="
   hx-target="#webphone"
   hx-swap="innerHTML"
   hx-request='{"noHeaders": true}'
   hx-trigger="load"
   class="block hidden px-4 py-2 bg-green-600 rounded hover:bg-green-500 focus:outline-none">
   CyburPhone
</a>

    <!-- Sidebar -->
    <div class="w-64 bg-green-700 text-white flex flex-col space-y-4 p-6">
        <h2 class="text-2xl font-bold text-center mb-4">Menu</h2>
        <nav>
            <ul class="space-y-4">
                <!-- Menu items -->
                <li>
                    <a 
                        href="#"
                        hx-get="/agent-reports"
                        hx-target="#content"
                        hx-swap="innerHTML"
                        hx-trigger="load"
                        class="block px-4 py-2 bg-green-600 rounded hover:bg-green-500 focus:outline-none">
                        Rapport sur les agents
                    </a>
                </li>
                <li>
                    <a 
                        href="#"
                        hx-get="/campaign-reports"
                        hx-target="#content"
                        hx-swap="innerHTML"
                        class="block px-4 py-2 bg-green-600 rounded hover:bg-green-500 focus:outline-none">
                        Rapport sur les campagnes
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</side>
<main id="content">

</main>
</body>
</html>
