

<div class="container ml-72 bg-white p-6 rounded shadow-lg">
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-3xl font-semibold text-green-600">Agent Report</h1>
        <!-- Logout Button -->
        <button 
            class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700 focus:outline-none" 
            hx-post="/logout" 
            hx-swap="none">
            Se déconnecter
        </button>
    </div>
     <div id="autodial-info" class="text-black" hx-get="/autodial-info"  hx-target="#autodial-info" hx-swapp="innerHTML" hx-trigger="every 2s" >
        
    </div> 
    <!-- Table that will be updated every 10 seconds with HTMX -->
    <div class="overflow-auto">
        <table class="min-w-full table-auto border-collapse border border-gray-300" hx-get="/report-table" hx-trigger="every 10s" hx-target="#agent-table" hx-swapp="innerHTML">
            <thead class="bg-green-600 text-white">
                <tr>
                    <th class="px-4 py-2 border border-gray-300">Utilisateur</th>
                    <th class="px-4 py-2 border border-gray-300">IP du serveur</th>
                    <th class="px-4 py-2 border border-gray-300">Status</th>
                    <th class="px-4 py-2 border border-gray-300">MM:SS</th>
                    <th class="px-4 py-2 border border-gray-300">ID du campagne</th>
                    <th class="px-4 py-2 border border-gray-300">Appelles du jour</th>
                    <th class="px-4 py-2 border border-gray-300">Action</th>
                </tr>
            </thead>
            <tbody id="agent-table" class="bg-white text-black">
                <!-- Data will be populated here dynamically -->
            </tbody>
        </table>
    </div>
</div>

